.Weather{
    padding: 0px 20px;
    .WeatherRoof{
        height: 30px;
        width: 100%;
        display: flex;
        line-height: 30px ;
        justify-content: space-between;
    }
    .WeatherPageBox{
        min-width: 1350px;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        .WeatherPage_item{
            border: 1px solid #c3c3c3;
            width: 50%;
            padding: 15px 15px;
            @include display_flex();
            .WeatherPage_Title{
                color: #3d8424;
                font-size: 17px;
                font-weight: 600;
            }
            .WeatherPage_Angle{
                width: 100%;
                font-size: 10px;
                // height: 250px;
                @include flex();
                .ring{
                    background: url('./images/ring.png') no-repeat;
                    width:283px;
                    height: 253px;
                }
                .runway{
                    background: url('./images/runway.png') no-repeat;
                    width:46px;
                    height: 110px;
                    margin: 0 auto;
                    &.r_23R,&.r_23L {
                        transform: rotate(50deg);
                        position: relative; 
                        top: 70px;
                    }
                    &.r_05R,&.r_05L {
                        transform: rotate(230deg);
                        position: relative; 
                        top: 70px;
                    }
                   
                }
                
               
            }
            .WeatherPage_Information{
                margin-bottom: 15px;
                width: 100%;
                font-size: 14px;
                display: flex;
                flex-wrap: wrap;
                @include flex();
                .InformationItem{
                    width: 100%;
                    margin: 0 auto;
                    margin: 5px 0px;
                    height: 20px;
                    display: flex;
                    line-height: 20px;
                    .ItemLeft{
                        display: block;
                        width: 100px;
                        line-height: 20px;
                        text-align: right;
                    }
                    .ItemRight{
                        font-size: 14px;
                        display: block;
                        margin-left: 1rem;
                        padding: 0 10px;
                        line-height: 20px;
                        width: 100px;
                        text-align: center;
                        background-color: #7c7c7cd7;
                        // width: 30%;
                    }
                }
            }
        }
    }
    .Weather_time{
        font-size: 16px;
        color: #5ca443;
        float: right;
        margin-top: 10px;
        >span{
            padding-right: 10px;
            // color:rgba(255, 255, 255, 0.85);
        }
    }
}