.flight_search {
  margin-top: 5px;
  &.modal_box {
    .box_content {
      overflow: visible;
    }
  }
  .container {
    height: 100%;
    @include display_flex(column);
    .options {
      @include display_flex();
      position: relative;
      top: -31px;
      padding-left: 86px;
      height: 0px;
      .box {
        @include display_flex();
        @include flex();
        height: 24px;
        flex-direction: row-reverse
      }
      .close{
        margin-right: 2%;
        color: #b5b5b5;
        &:hover{
          cursor: pointer;
          color: #fff;
        }
      }
    }
    .content {
      @include display_flex(column);
      @include flex();
      position: relative;
    }
    .flight-list {

      @include display_flex(column);
      @include flex();
      width: 100%;
      overflow: auto;
      .ant-list {
        font-size: 1rem;
      }
      .ant-list-item {
        cursor: pointer;
        padding: 4px;
        &:hover {
          background: #262626
        }
      ;
        &.selected {
          background: #266E90;
        }
      }
      .list-nav {
        padding: 4px;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        background: #313131;
        z-index: 1;
        box-shadow: -6px 0 16px -8px rgba(0, 0, 0, .5), -9px 0 28px 0 rgba(0, 0, 0, .5), -12px 0 48px 16px rgba(0, 0, 0, .5);
        @include display_flex();
        flex: 0 1 auto;

        .flight-prop {
          @include flex();
          visibility: visible;
          text-align: center;
          &.flight-depap-arrap {
            @include flex(2);
          }
        }
        .num {
          flex: 0 0 60px;
        }
        .flight-id, .flight-sobt, .flight-former {
          //flex: 1 1 10%;
          &:hover{
            cursor: pointer
          }
        }

      }
      .flight-item {
        @include display_flex();
        @include flex();
        .flight {
          text-decoration: none;
          color: inherit;
          @include display_flex();
          @include flex();
          .flight-prop {
            @include flex();
            visibility: visible;
            text-align: center;
            &.flight-depap-arrap {
              @include flex(2);
            }
          }

          .num {
            flex: 0 0 60px;
          }
        }
      }
    }
    .title-flight-id {
      &:hover{
      cursor: pointer;}
    }
    .flight-summary-drawer {
      .ant-drawer-content-wrapper {
        .ant-drawer-header, .ant-drawer-content {
          background: #343434;
        }
        .ant-drawer-body {
          padding: 10px;
          .summary-row{
            .ant-form-item{
              margin-bottom: 4px;
            }
            .ant-form-item-label{
              padding:0;
              >label{
                color: #807f7f;
    font-size: 12px;
              }
            }
          }
        }
        .ant-drawer-header {
          padding: 7px 10px;
          .ant-drawer-close {
            padding: 11px 20px;
          }
        }
        .former-divider {
          margin: 0;
          font-size: 0.85rem;
        }
      }

      .flight-summary {
        @include display_flex();
        .descriptions {
          @include flex();
        }
        .ap {
          flex: 0 1 80px;
        }
      }
      .summary-nav {
        color: #5bc0de;
      }
    }

  }
  .flight-search {
    .ant-input {
      text-transform: uppercase;
    }
  }
  .summary-container{
    .scheme-list-section{
      .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab, 
      .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab
      {
        padding: 4px 8px;
      }
      .ant-tabs-top > .ant-tabs-nav, 
      .ant-tabs-bottom > .ant-tabs-nav, 
      .ant-tabs-top > div > .ant-tabs-nav, 
      .ant-tabs-bottom > div > .ant-tabs-nav{
        margin: 0;
      }
    }
    .summer_tacticName{
      color: rgb(54, 165, 218);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover{
        cursor: pointer;
      }
    }
  }
}