.info-history-content {
    margin: 0 1rem;
    width: 900px;
    height: 600px;
    .header {
        margin: 1rem 0;
        display: flex;
        justify-content: space-between;
        .description {
            flex: 1;
        }
        .search {
            text-align: right;
            flex: 1;
        }
    }
    .date_time{
        position: relative;
        top: -2.5rem;

    }
}