.kpi {
    .box_content {
        overflow-y: auto;
    }
}
.kpi_canvas{
    position: relative;
    overflow: auto;
    margin: 5px;

    .row_model{
        padding: 5px;
        background: #2f2f2f;
        border-radius: 6px;
        border: 1px solid #5d5d5d;
        margin-bottom: 5px;
    }

    .block {
        padding: 5px;
        @include display_flex(column);
    }

    .num{
        color: #0095eb;
        font-size:3rem;
        line-height: 1;
    }
    .unit{
        font-size: 1rem;
        justify-content: flex-end;
    }

    .impact_sub{
        .block-title {
            font-size: 0.75rem;
        }
        .num{
            color: #0095eb;
            font-size: 2rem;
        }
        .unit{
            font-size: 0.75rem;
            justify-content: flex-end;
        }
    }

    .flex {
        @include flex()
    }

    .warn{
        font-size: 28px;
        color: red;
    }
    .dance {
        background: $bc-black-80;
        padding: 0px 20px;
        border-radius: 6px;
    }

    .total-rate{
        padding: 5px 0px;
    }
    .delay-rate {
        padding: 5px 0px;
        margin-left: 5px;
        flex-shrink: 1;
        .percent {
            font-size: 1.5rem;
            line-height: 1;
        }
        .point{
            font-size: 0.75rem;
        }
        .total {
            padding: 10px 0px;
        }
    }
    .part {
        .row_model {
            margin: 5px;
            flex-shrink: 1;
        }
    }
    .text-center {
        text-align: center
    }

}
