.flight_cord_slot_canvas{
    .status-100{
        background-color: #2b6e93;
        color: #fff;
    }
    .status-200{
        background-color: #338f33;
        color: #fff;
    }
    .status-300{
        background-color: #9b3a3a;
        color: #fff;
    }
    .status-400{
        background-color: #5d5b5b;
        color: #fff;
    }
}