.position_canvas{
    .pos_title{
        font-size: 20px;
        margin-bottom:10px;
        .bold{
            font-weight: bold;
        }
        >span{
            padding-right: 15px;
        }
    }
.pos_table{
    .ant-table.ant-table-small{
        th,td{
            font-size: 20px!important;
        }
    }
    
}
}