.root {
  overflow-y: hidden;
}
.create-flow-container {
   display: flex;
   justify-content: center;
  .content {
    padding: 0;
    flex: 0 1 auto;
    width: 1280px;
  }
  .footer {
    display: flex;
    height: 52px;
    border-top: 1px solid #424242;
    justify-content: flex-end;
    background: #363636;
    padding: 10px 20px;
  }
}