

.modal_box{
    @include display_flex(column);
    height: calc(100% - 20px );
    margin: 10px 5px;
    background: #404040;
    
    .box_header{
        //background: rgba(0,0,0,0.35);
        height: 40px;
        line-height: 40px;
        padding-left: 10px;
        font-size: 1rem;
        display: flex;
    }
    .box_content{
        @include display_flex(column);
        @include flex();
    }
}

