.destriction_form{
  .ant-form-item{
    margin-bottom: 0;
  }
  .ant-input-disabled{
    border: none;
    background: transparent;
  }

}
.btn_import{
  position: absolute;
  top: 0;
  left: 300px;
}