.destriction_form{
  .ant-form-item{
    margin-bottom: 8px;
  }
  .ant-card {
    background: #363636;
    color: #e0e0e0;
  }
  .ant-card-bordered {
    border-color: #424242;
    &:not(:last-child) {
      border-bottom: none;
    }
  }
  .ant-card-head {
    border-color: #424242;
    min-height: auto;
    .ant-card-head-title{
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  .ant-card-body {
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .inner-card {
    .ant-card-head, .ant-card-body{
      padding-left: 5px;
      padding-right: 5px;
    }
    .ant-form-item{
      margin-bottom: 8px;
    }
  }
  .ant-col.ant-form-item-label{
     min-width: 100px;
  }
  .ant-input-disabled{
    //border: none;
    //background: $c-white-50;
  }
  .ant-input-group-addon {
    border: none;
    background: transparent;
  }
  .ant-form-item.date-time-form-compact {
    margin-bottom: 0;
    .ant-form-item-control {
      .ant-form-item-control-input-content{
        display: flex;
        .date-picker-form{
          flex: 2;
        }
        .time-form {
          flex: 1;
          margin-left: 5px;
        }
      }
    }
  }
  .flow-control-flight {
    .ant-card-head {
      border-color: #424242;
    }
  }
  .ant-input-disabled, .ant-picker-disabled, .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: none;
    background: none;
    color: inherit;
  }
  .ant-picker-input > input[disabled] {
    color: inherit;
  }
  .ant-checkbox-disabled + span {
    color: $c-white-80;
  }
  .ant-select-disabled.ant-select-multiple .ant-select-selection-item {
    color: inherit;
  }
  .ant-checkbox-disabled.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #177ddc !important;
    border-color: #177ddc !important;
  }


  .ant-input-disabled .ant-picker-suffix,
  .ant-select-disabled .ant-select-arrow {
    visibility: hidden;
  }
  .hidden-label {
    .ant-form-item-label{
      visibility: hidden
    }
  }


}
//.footer {
//  display: flex;
//  height: 52px;
//  border-top: 1px solid #424242;
//  justify-content: flex-end;
//  background: #363636;
//  padding: 10px 20px;
//}
.btn_import{
  position: absolute;
  top: 0;
  left: 190px;
}