.layout{
    @include display_flex(column);
    .nav_bar{
        height: 44px;
    }
    .nav_body{
        @include flex();
        @include display_flex();
        .cont_left{
            @include display_flex(column);
            @include flex();
            width: 500px;
            .left_top{
                height: 40px;
                background: #404040;
                line-height: 40px;
                padding-left: 15px;
            }
            .left_cont{
                @include display_flex();
                @include flex();
                .left_left{
                    @include display_flex(column);
                }
                .left_right{
                    @include display_flex(column);
                    @include flex(5);
                }
            }


            .timeline_dom{
                height: 100%;
                >div{
                    width: 300px;
                    display: inline-block;
                    height: 100%;
                }
                
            }
            .kpi{
                @include flex(1);
            }
            
    
        }

        .cont_right{
             width: 500px;
            //@include flex(2);
            @include display_flex(column);
        }
    }
}

