.capacity_flow_monitor_container {
  position: relative;
  flex: 1 1 0%;
  height: 100%;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none
  }
  .ant-list-grid .ant-col > .ant-list-item.moitor-col {
    margin-bottom: 10px;
  }
  //padding-top: 10px;
  .monitor-box {
    .box_header{
      height: 32px;
      line-height: 32px;
    }
    .box_content {
      overflow: visible;
    }
    &:hover {
      box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.48), 0 6px 16px 0 rgba(0, 0, 0, 0.32), 0 9px 28px 8px rgba(0, 0, 0, 0.2);
      border-color: transparent;
    }
  }
  .monitor-content {
    padding: 5px;
    display: block;
    //max-height: 215px;
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    top: -31px;
    padding-left: 86px;
    padding-right: 10px;
    height: 0px;
    color: $c-white-30;
    .remove{
      cursor: pointer;
      font-size: 20px;
      &:hover{
        color: $c-white-100;
      }
    }
  }
}