.info_canvas{
    width: 750px;
    height: 437px;
    background:  #313131;
    overflow: hidden;
    @include display_flex(column);
    font-size: 18px;
    
    .info_header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        //height: 33px;
        position: relative;
        padding: 10px 10px 10px 20px;
        //border-bottom: 2px solid grey;
        background: #2c2c2c;
        .ant-collapse-header {
            padding-right: 0;
            padding-left: 0;
        }
        .title {
            flex: 1;
            font-size: 16px;
            color: #eeeeee;
        }
        .scroll{
            position: absolute;
            right: 120px;
        }
        .to_top{
            position: absolute;
            right: 40px;
        }
        .radish{
            padding: 0 5px;
            &:hover{
                cursor: pointer;
            }
        }
        .close{
            padding: 0 5px;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .todo-list{
        @include flex();
        overflow-y: auto;
        overflow-x: hidden;
        .ant-collapse-content {
            margin-right: 28px;
            margin-left: 80px;
            margin-bottom: 12px;
            background: #2b2b2b;
        }
        .ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header {
            padding-left: 0;
        }
        .ant-collapse-content {
            border: none;
        }
    }
    .info_content{
        background:  #313131;
        border: none;
        .ant-collapse-header {
            padding-left: 0;
            padding-right: 0;
        }
         .ant-collapse-item {
            border-left: none;
            border-right: none;
            border-top: none;
            border-bottom: 1px solid #383f44;
            > .ant-collapse-header{
                padding: 0;
            }
        }

        >div{
            position: relative;
        }
        .info_card.active{
            //background: #1e415d;
        }
        .info_card{
            @include display_flex();
            position: relative;
            font-size: 18px;
            padding: 8px 16px;
            -webkit-animation-duration: 1.5s;
            animation-duration:  1.5s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
            .level_icon{
                width: 80px;
                justify-content: center;
                align-items: center;
                @include display_flex();
                .message-icon {
                    width: 40px;
                    height: 40px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .warn {
                    background-image: url('../../images/warn.png');
                }
                .notice {
                    background-image: url('../../images/notice.png');
                }
                .message {
                    background-image: url('../../images/message.png');
                }
            }
            .card_cont{
                @include flex();
                display: flex;
                flex-direction: column;
                position: relative;
                .title {
                    display: flex;
                    flex-direction: row;
                    padding-right: 10px;
                }

                .date{
                    padding-left: 20px;
                    padding-right: 10px;
                }
                .options{
                    flex: 1;
                    button {
                        margin-right: 10px;
                        font-size: 12px;
                    }
                    //按钮
                    .info_btn{
                        background: #5b5b5b;
                        color: #fff;
                        border: none;
                    }
                    .btn_blue{
                        background: #1b517e;
                    }
                }
                
                .msg{
                    color: green;
                }
                
                .notice{
                    color: orange;
                }
                .text{
                    display: block;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .close{
                    padding: 0 5px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            .level_text{
                text-transform: capitalize;
            }
            .warn{
                color: red;
            }
            .message{
                color: green;
            }
            .notice{
                color: rgb(212, 189, 54);
            }
        }

        .item-enter {

          }
          .item-enter-active {
            //  opacity: 1;
            //transition: opacity 2000ms ease-in;
          }
          .item-exit {
              //opacity: 1;
          }
          .item-exit-active {
            //  opacity: 0;
            //transition: opacity 200ms ease-in;
          }
    }

}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}
