.nav_header{
    height: 44px !important;
    line-height: 44px!important;
    background: #2c2c2c;
    >span{
        font-size: 1.57rem;
        position: relative;
        left: -35px;
    }
    padding-left: 0;
}
.nav_right{
    float: right;
    .bell_icon{
        font-size: 1.42rem;
        position: relative;
        top:3px;
    }
    .user_icon{
        margin: -1px 10px 0 30px;
    }
    // .user-name{
        
    // }
}

.info-drawer{
    height: 256px;
}
.layout-column{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.layout-row{
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.justify-content-center {
    justify-content: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.space-between {
    justify-content: space-between;
}