.nav_header{
    height: auto !important;
    line-height: inherit;
    background: rgba(64, 64, 64, 0.7);
     padding: 0;
    .multi_nav{
        padding: 8px 0 !important;
        margin: 9px 11px;
    }
    >span{
        font-size: 1.57rem;
        position: relative;
        left: -35px;
    }
    .ant-radio-button-wrapper{
        font-size: 0.75rem!important;
        padding: 0 0.75rem;
    }
    .user-name{
        font-size: 1rem;
    }
    /*
    *  ===========================================
    *   start---导航样式调整---覆盖antd
    *  ==============================================
    */
    //调整按钮组选中色
    .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) ,
    .ant-btn-primary:hover, .ant-btn-primary:focus,
    .ant-btn-primary{
        background: #266E90;
        border-left: 1px solid #13729F;
        border-top: 1px solid #13729F;
        border-bottom: 1px solid #13729F;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
    }
    //调整按钮组高度
    .ant-radio-group-large .ant-radio-button-wrapper{
        height: 36px;
        line-height: 34px;
    }
    .ant-btn-lg{
        height: 36px;
        border-radius: 0;
    }
    //去掉圆角
    .ant-radio-button-wrapper:first-child {
        border-radius: 0;
    }
    .ant-btn:hover, .ant-btn:focus, .ant-btn:active{
        color: rgba(255, 255, 255, 0.7);
        background: #535252;
        border-color: rgba(255, 255, 255, 0.3);
    }
    /*
    *  ===========================================
    *   end----导航样式调整-覆盖antd
    *  ==============================================
    */


}
.layout-nav-left, .layout-nav-right {
    padding-left: 10px;
    padding-right: 10px;
}
.nav_right{
    float: right;
    .bell_icon{
        font-size: 1.42rem;
        position: relative;
        top:3px;
    }


}
.single_user{
    display: flex;
    flex-direction: row;
    align-items: center;
    .user_icon{
        margin: 0 10px;
    }
}

.info-drawer{
    height: 256px;
}
.layout-column{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.layout-row{
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.justify-content-center {
    justify-content: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.space-between {
    justify-content: space-between;
}
.simple_nav{
    padding: 0.5rem 1rem;
    border: 1px solid #5d5d5d;
    .single_bell{
        margin-right: 1.5rem;
    }
}
