.line_canvas{
    margin: 0 0.5rem;
    .radio_sel{
        margin-right: 1rem;
        display: inline-block;
        >span{
            padding-right: 0.5rem;
        }
    }
    
    
    .cap_line_chart{
        height: inherit!important;
    }
    .refresh_btn{
        position: absolute;
        right: 1rem;
        top: 8px;
    }
}
.cap_set_canvas{
    @include display_flex(column);
    @include flex();
    margin: 2rem auto 0;
    width: 100%;
    .set_top{
        @include display_flex();
        @include flex();
        .left_wrapper{
            @include display_flex(column);
            @include flex(3);
            align-items: center;
        }
        .right_wrapper{
            @include display_flex();
            // @include flex(3);
            margin: 0 auto 20px;
            // align-items: center;
        }
        .dynamic_workflow{
            width: 350px;
            position: relative;
            left: 1rem;
            // margin-bottom: 18px;
            .static_cap_modal{
                width: inherit;
            }
        }
        .static_modal{
            width: 280px;
            // margin: 0.5rem;
        }
        .dynamic_modal{
            @include flex();
        }
        .dynamic_modal, .static_cap_modal{
            margin: 0.5rem;
            width: 900px;
            .ant-form-item-control-input{
                min-height: inherit!important;
            }
            .ant-table-thead{
                th{
                    font-size: 1rem;
                }
            }
            .num_cell{
                font-size: 1.25rem;
            }
        }
        
        
        .static_cap_modal_24{
            @include flex();
        }
    }
    .cap_part{
        @include flex();
    }
    .box_content{
        position: relative;
        .generateTime{
            position: absolute;
            bottom: 5px;
            left: 5px;
        }
    }
    
}

.static_cap_modal{
    .ant-table-cell{
        color: #c3c3c3;
    }
    //偶数行 底色
    .even > td{
        background-color: #272626;
    }
}

.alarm{
    width: 98%;
    display: inline-block;
}
.alarm_yellow{
    background-color: rgb(138, 117, 49);
}
.alarm_orange{
    background-color: rgb(197, 109, 8);
}
.alarm_red{
    background-color: rgb(170, 38, 38);
}
.alarm_green{
    background-color: rgb(21, 110, 21);
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #72bde1;
    font-weight: 500;
}

@media screen and ( max-width: 1920px) and ( min-width: 1681px){
    
    .ant-table.ant-table-small .ant-table-title, .ant-table.ant-table-small .ant-table-footer, .ant-table.ant-table-small .ant-table-thead > tr > th, .ant-table.ant-table-small .ant-table-tbody > tr > td, .ant-table.ant-table-small tfoot > tr > th, .ant-table.ant-table-small tfoot > tr > td {
        padding: 4px 4px;
    }
    .cap_set_canvas{
        
        .capacity_number_table .ant-table-body tr  {
            > td.ant-table-cell{
                font-size: 1.8rem;
            }
            td.ant-table-cell:first-child{
                font-size: 1.4rem;
              }
        }
        .capacity_number_table .ant-table-thead tr > th.ant-table-cell {
            font-size: 1.4rem;
        }
        .box_header .title{
            font-size: 1.3rem;
        }
    }
  }



@media screen and ( max-width: 1681px){
    .cap_set_canvas{
    
        .capacity_number_table .ant-table-body tr  {
            > td.ant-table-cell{
                padding: 2px 0;
                font-size: 2.4rem;
                .ant-input{
                    font-size: 2.2rem;
                }
            }
            td.ant-table-cell:first-child{
                font-size: 1.8rem;
              }
        }
        .capacity_number_table .ant-table-thead tr > th.ant-table-cell {
            font-size: 1.6rem;
            
        }
        .box_header .title{
            font-size: 1.8rem;
        }
        .cap_icon{
            font-size: 1.5rem;
            top: 6px;
          }
    }
}