.line_canvas{
    margin: 0 0.5rem;
    .radio_sel{
        margin-right: 1rem;
        display: inline-block;
        >span{
            padding-right: 0.5rem;
        }
    }
    
    
    .cap_line_chart{
        height: inherit!important;
    }
    .refresh_btn{
        position: absolute;
        right: 1rem;
        top: 8px;
    }
}
.cap_set_canvas{
    @include display_flex(column);
    @include flex();
    margin: 0 auto;
    width: 100%;
    .set_top{
        @include display_flex();
        @include flex();
        .left_wrapper,.right_wrapper{
            @include display_flex(column);
            @include flex();
            align-items: center;
        }
        .static_modal{
            width: 280px;
            // margin: 0.5rem;
        }
        .dynamic_modal{
            @include flex();
        }
        .dynamic_modal, .static_cap_modal{
            margin: 0.5rem;
            width: 750px;
            .ant-form-item-control-input{
                min-height: inherit!important;
            }
            .ant-table-thead{
                th{
                    font-size: 1rem;
                }
            }
            .num_cell{
                font-size: 1.25rem;
            }
        }
        .static_cap_modal_24{
            @include flex();
        }
    }
    .cap_part{
        @include flex();
    }
}
.alarm{
    font-size: 1.25rem;
    padding-left: 0.25rem;
}
.alarm_yellow{
    color: yellow;
}
.alarm_orange{
    color: orange;
}
.alarm_red{
    color: red;
}

@media screen and ( max-width: 1920px) and ( min-width: 1681px){
    .ant-table.ant-table-small .ant-table-title, .ant-table.ant-table-small .ant-table-footer, .ant-table.ant-table-small .ant-table-thead > tr > th, .ant-table.ant-table-small .ant-table-tbody > tr > td, .ant-table.ant-table-small tfoot > tr > th, .ant-table.ant-table-small tfoot > tr > td {
        padding: 4px 4px;
    }
  }

  

