.static_title{
        
    margin-bottom: 0.3rem;
}
.total_set{
    margin: 1rem;

    .set_item{
        margin-right: 1rem;
        margin-bottom: 23px;
        font-size: 1rem;
        height: 32px;
        .span_title{
            display: inline-block;
            width: 100px;
            padding-right: 3px;
            text-align: right;
        }
        .set_item_input{
            margin: 0;
            position: relative;
            top: -5px;
            width: 70px;
            display: inline-block;
            padding: 0px 6px!important;
            .ant-input{
                font-size: 1.25rem;
                padding: 0 0 0 10px;
                // text-align: right;
            }
            .ant-input[disabled] {
                color: inherit!important;
                border: none;
                background: inherit;
            }
        }
    }
    .btns{
        text-align: center;
    }
}

.yellow{
    background: rgb(146, 133, 16);
}

.ant-form-item-explain{
    >div{
        position: absolute;
        width: 200px;
    }
}