.flight_performance_list_container {
  height: 100%;
  margin: 0 14px 14px 12px;
  display: flex;
  flex-direction: column;
  .performance-row {
    flex: 1;
    .ant-spin-nested-loading {
      display: flex;
      flex-direction: column;
      @include flex();
      .ant-spin-container {
        display: flex;
        flex-direction: column;
        @include flex();
      }
    }
  }

  .space {
    min-width: 2rem;
    display: inline-block;
  }
  .icon {
    margin-right: 8px;
  }
  .list-item-icon {
    height: 28px;
    width: 28px;
    background-position: center;
    background-repeat: no-repeat;
  }

  // 计划起飞
  .takeoff {
    background-image: url('../../images/FLIGHT_takeoff.png');
  }
  //计划落地
  .landing {
    background-image: url('../../images/FLIGHT_landing.png');
  }
  //飞越本区
  .area-over {
    background-image: url('../../images/FLIGHT_area_over.png');
  }
  //国际飞越
  .international-over {
    background-image: url('../../images/FLIGHT_international_over.png');
  }
  //起飞正常
  .normal-takeoff {
    background-image: url('../../images/FLIGHT_normal_takeoff.png');
  }
  //地面延误
  .ground-delay {
    background-image: url('../../images/FLIGHT_ground_delay.png');
  }
  //返航备降
  .return {
    background-image: url('../../images/FLIGHT_return.png');
  }
  // 复飞
  .refly{
    background-image: url('../../images/FLIGHT_refly.png');
  }
  // 盘旋
  .circling{
    background-image: url('../../images/FLIGHT_circling.png');
  }
  


}
.performance-tooltip-content-box {
  display: flex;
  flex-direction: column;
  .content-row {
    display: flex;
    flex-direction: row;
  }
  .label {
    min-width: 5rem;
    text-align: right;
    margin-right: 4px;
  }
}