.flight_performance_list_container {
  height: 100%;
  margin: 0 14px 14px 12px;
  display: flex;
  flex-direction: column;
  .performance-row {
    flex: 1;
  }
  .icon {
    margin-right: 8px;
  }
  .list-item-icon {
    height: 28px;
    width: 28px;
    background-position: center;
  }

  // 计划起飞
  .takeoff {
    background: url('../../images/FLIGHT_takeoff.png');
  }
  //计划落地
  .landing {
    background: url('../../images/FLIGHT_landing.png');
  }
  //飞越本区
  .area-over {
    background: url('../../images/FLIGHT_area_over.png');
  }
  //国际飞越
  .international-over {
    background: url('../../images/FLIGHT_international_over.png');
  }
  //起飞正常
  .normal-takeoff {
    background: url('../../images/FLIGHT_normal_takeoff.png');
  }
  //地面延误
  .ground-delay {
    background: url('../../images/FLIGHT_ground_delay.png');
  }
  //返航备降
  .return {
    background: url('../../images/FLIGHT_return.png');
  }


}