.mdrs_workflow{
    margin:10px;
    .box_header{
        border-bottom: 1px solid #5d5b5b;
        .title{
            font-size: 18px;
        }
    }
    .work_steps{
        margin: 0 10px 10px;
        display: inline-block;
        text-align: center;
        .work_step_item{
            display: inline-block;
            width: 330px;
            margin-top: 15px;
            .item_top{
                position: relative;
                height: 50px;
                .step_number{
                    font-size: 22px;
                    padding-right: 11px;
                    vertical-align: top;
                    position: relative;
                    top: -4px;
                }
                .step_name{
                    font-size: 14px;
                    padding-right: 10px;
                    width: 120px;
                    word-break: break-word;
                    display: inline-block;
                    vertical-align: top;
                }
                .step_des{
                    display: inline-block;
                    vertical-align: top;
                    font-size: 12px;
                    background-color: rgba(53, 165, 218, 0.5);
                    width: 150px;
                    border-radius: 4px;
                    padding: 1px 6px;
                    text-align: left;
                    .step_reason{
                        height: 18px;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
                
            }
            .item_bottom{
                .item_icon{
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    margin-right: 16px;
                }
                
                
                .item_line{
                    display: inline-block;
                    width: 280px;
                    height: 4px;
                    background: #35A5DA;
                    border-radius: 2px;
                    position: relative;
                    top: -5px;
                }
            }
        }
        .work_step_item.finished{
            .item_top{
                
            }
            .item_bottom{
                .item_icon{
                    background: url("./images/finished.png") no-repeat;
                }
            }
        }
        .work_step_item.wait{
            .item_top{
                
               
            }
            .item_bottom{
                .item_icon{
                    background: url("./images/wait.png") no-repeat;
                }
                .item_line{
                    background: linear-gradient(90deg, #35A5DA 0%, rgba(53, 165, 218, 0) 100%);
                }
            }
        }
    }
    
}