.workflow_wind_cont{
  .win_btns{
    margin-top: 1rem;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
  }
  .btn_confirm{
    position: absolute;
    right: 0;
  }
  .info_canvas{
    font-size: 17px;
    text-align: center;
    margin: 8px;
  }
}

.work_cont{
  background: rgba(64, 64, 64, 0.8);
  margin: 0.5rem 1rem;
  border: 1px solid #5d5d5d;
  position: relative;
  .ant-pagination{
    position: relative;
    //top: -42px;
    right: 10px;
  }
}
.work_btns{
  margin: 0.5rem auto;
  float: right;
  button{
    margin: 0 5px 0 5px ;
  }
}