.collaborate_popover{
    &.hidden{
        visibility: hidden;
    }
    .ant-form-item{
        margin-bottom: 0;
    }
    .popover_title{
        .close{
            display: inline-block;
            float: right;
            &:hover{
                cursor: pointer;
            }
        }
    }
    &.RWY_popover{
        .ant-radio-wrapper{
            display: block;
            margin-bottom: 8px;
        }
    }
}
.ffixt_col_container{
    @include display_flex();
    .ffixt_middle_canvas{
        @include display_flex();
        align-items: center;
        margin: 0 5px;
        >span:hover{
            cursor: pointer;
        }
    }
    .ffixt_right_canvas{
        .ant-form-item-control-input {
            min-height: 24px;
            
        }
        .ffixt_right_date{
            width: 130px;
            height: 24px;
        }
        .ffixt_right_time{
            width: 60px;
            margin-left: 6px;
            height: 24px;
        }
    }
}
