.bell-news {
    width: 32px;
}
.total_body{
    margin: 0 10px 10px;
    @include display-flex(column);
    @include flex();
    .cont_top{
        @include display-flex();
        @include flex();
        .cont_top_left{
            @include flex();
        }
        .cont_top_right{
            @include flex(2);
        }
    }
    .cont_bottom{
        @include flex();
        overflow-y: auto;
        
    }
    .map-module{
        margin-right: 5px;
        .map-container {
            display: flex;
            flex: 1;
            margin: 0 5px 5px;
            .map-frame {
                border-radius: 8px;
                border: 1px solid #6c6c6c;
                padding-bottom: 1px;
            }
        }
    }
    .module {
        padding: 5px;
        background: #343434;
        border-radius: 6px;
    }


}
