.bell-news {
    width: 32px;
}
.ant-layout-header {
    background: #2c2c2c!important;
    .simple_nav{
        margin: 9px 11px;
    }
}

.main-wrapper {
    //position: relative;
    overflow-y: hidden;
    .top{
        flex: auto;
        height: 712px;
        margin-bottom: 10px;
        .flex-row {
            @include flex();
            flex-wrap: nowrap;
            margin-left: 11px;
            margin-right: 11px;
            .left-container {
                flex: 1 1 auto;
                width: 700px;
                margin-right: 4px;
                .map-container {
                    display: flex;
                    flex: 1;
                    margin: 0 10px 10px;
                    //width: 820px;
                    //height: 600px;
                    .map-frame {
                        border-radius: 8px;
                        border: 1px solid #6c6c6c;
                        padding-bottom: 1px;
                    }
                }
            }
            .right-container {
                flex: 1 1 calc(100% - 700px);
                width: calc(100% - 700px);
                margin-left: 4px;
                .ant-spin-nested-loading, .ant-spin-container{
                    height: 100%;
                }
            }
        }

    }
    .bottom {
        flex: auto;
        height: 654px;
        overflow-y: auto;
        .capacity-contianer {
            flex: 1 1 0%;
            height: 100%;
            margin-left: 11px;
            margin-right: 11px;
            .ant-spin-nested-loading, .ant-spin-container{
                height: 100%;
            }
        }
    }
    .module {
        background: #343434;
        border-radius: 6px;
    }

}

