.bell-news {
    width: 32px;
}
.ant-layout-header {
    background: #2c2c2c!important;
    .simple_nav{
        margin: 0.5rem 1rem;
    }
}

.total_body{
    margin: 0 1rem 1rem;
    @include display-flex(column);
    @include flex();
    .cont_top{
        @include display-flex();
        //@include flex();
        flex: 0 1 700px;
        .cont_top_left{
            //@include flex();
          flex: 0 1 699px;
        }
        .cont_top_right{
            @include flex(2);
          .ant-spin-nested-loading, .ant-spin-container{
            height: 100%;
          }
        }
    }
    .cont_bottom{
        @include flex();
        overflow-y: auto;
        
    }
    .map-module{
        margin-right: 5px;
        .map-container {
            display: flex;
            flex: 1;
            margin: 0 16px 14px 13px;
            //width: 820px;
            //height: 600px;
            .map-frame {
                border-radius: 8px;
                border: 1px solid #6c6c6c;
                padding-bottom: 1px;
            }
        }
    }
    .module {
        background: #343434;
        border-radius: 6px;
    }


}
