.template_configuration{
    min-height: 757px;
    padding: 20px;
    .template_configuration_bottom{
        width: 96%;
        height: 30px;
        border-top: 1px solid #c3c3c3;
        position: fixed;
        background: #393939;
        bottom: 1px;
    }
}
.addList{
    width: 50px;
    cursor:pointer;
    display: flex;
    .iconAdd{
       padding: 4px 1px 0 0 !important;
    }
}
.footer-bar {
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 100%;
    background: #363636;
    // border-top: 1px solid #4e4e4e;
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-end;
    box-shadow: #5b5c5c 0px -1px 0px 0px;
}