.template_configuration{
    min-height: 757px;
    padding: 20px;
    .template_configuration_bottom{
        width: 96%;
        height: 30px;
        border-top: 1px solid #c3c3c3;
        position: fixed;
        background: #393939;
        bottom: 1px;
    }
}