
html,body{
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  //min-width: 1920px;
  //min-height: 1080px;
}
.root{
  height: 100%;
  font-family:   Calibri, Microsoft Yahei, sans-serif;
  position: relative;
  > .ant-layout{
    background:#363636 ;
    height: 100vh;
  }
}
@media screen and ( max-width: 1920px){
  body{
    font-size: 12px;
  }
}
@media screen and ( min-width: 1921px){
  body{
    font-size: 18px;
  }
}

