
html,body{
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  //min-width: 1920px;
  //min-height: 1080px;
}
.root{
  height: 100%;
  font-family:   Calibri, Microsoft Yahei, sans-serif;
  position: relative;
  > .ant-layout{
    //background:#363636 ;
    height: 100vh;
  }
}

// Modal

.ant-modal-body {
  max-height: 800px;
  overflow-y: auto;
}
// Empty
.ant-empty-img-simple-g {
  stroke:#4f4f4f
}
.ant-empty-img-simple-path {
  fill: #4f4f4f;
  stroke: #434343;
}

//@text-color: red;
@media screen and ( max-width: 1920px){
  html,body{
    font-size: 14px;
  }
}
@media screen and ( min-width: 1921px){
  html,body{
    font-size: 18px!important;
  }
}

