.monitor {
    padding: 5px;
    background: #343434;
    border-radius: 6px;
    .options {
        display: flex;
        flex-direction: row;
        .normal-rate {
            display: flex;
            flex: 1;
            .rate-progress, .rate-text {
                flex: 1;

            }
            .rate-text {
                flex: 1;
                margin-left: 15px;
            }
        }
        .weather {
            //flex: 1 1  auto;
            width: 32px;
            text-align: right;
            padding: 0 5px;
        }
    }
}

.airport_monitor, .airport_sector{
    display: inline-block;
    overflow: hidden;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: calc(100%);
    padding: 5px;
}