
//右键协调框-日期
.clr_date{
   width: 157px;
}
//去掉antd form下边距
.ant-form-item{
  margin-bottom: 0;
}

//航班号右键
.clr_flightid{
  button{
    display: block;
    margin: 10px 0;
    width: 130px;
    font-size: 18px;
  }
}
//单元格为空，样式占位
.empty_cell{
  height: 26px;
}
//表格
.ant-table-body{
  //单元格内容左对齐
  .ant-table-cell.CTO, .ant-table-cell.CTOT,.ant-table-cell.EAP{
    text-align: left!important;
  }
  .full-cell{
    position: absolute;
    top: 0.55rem;
    left: 0.278rem;
    right: 0.278rem;
    bottom: 0.44rem;
    @include display_flex();
    @include flex();
    >div{
      @include display_flex();
      @include flex();
      align-items: center;
      padding-left: 0.1rem;
      text-align: left;
    }
  }
  //起飞  #CCCCCC
  .ATOM{
    background: #AB8E30FF;
  }
  .NTFM{
    background: #726250;
  }
  .MANUAL{
    background: #bb5535;
  }
  .LOCK{
    background: #CD7ACAFF;
  }
  .AUTO{
    background: #3D8424FF;
  }
}


