
//右键协调框-日期
.clr_date{
   width: 157px;
}
//去掉antd form下边距
.ant-form-item{
  margin-bottom: 0!important;
}

//航班号右键
.clr_flightid{
  button{
    display: block;
    margin: 10px 0;
    width: 130px;
    font-size: 18px;
  }
}

//单元格为空，样式占位
.empty_cell{
  height: 26px;
}
//表格
.ant-table-body{
  //单元格内容左对齐
  .ant-table-cell.CTO, .ant-table-cell.CTOT,.ant-table-cell.EAP{
    text-align: left!important;
  }
  //占满表格样式
  .full-cell{
    position: absolute;
    top: 0.55rem;
    left: 0.278rem;
    right: 0.278rem;
    bottom: 0.44rem;
    //top: 0;
    //left: 0;
    //right: 0;
    //bottom: 0;
    @include display_flex();
    @include flex();
    &:hover{
      cursor: pointer;
    }
    >div{
      @include display_flex();
      @include flex();
      align-items: center;
      justify-content: center;
      //padding-left: 0.378rem;
      padding-left: 0.1rem;
      //text-align: left;
    }
  }
  .FFIX{
    border-left: 2px solid #868a8b!important;
    //border-right: 2px solid #868a8b!important;
  }
  .FFIXT{
    border-left: 2px solid #868a8b!important;
    border-right: 2px solid #868a8b!important;

    .full-cell{
      top: 0.1rem;
      left: 0.2rem;
      right: 0.2rem;
      bottom: 0.1rem;
      >div{
        padding-left: 0!important;
      }
    }
  }
  .ATOT{  }
    .DEP{
      background: #1e6083;
    }

  .CTOT_DEP,.CTO_DEP,.COBT_DEP{
    background: #595959!important;
    color: #999797;
    .DEP{
      background: none;
    }
  }

  //起飞  #CCCCCC
  .ATOM{
    //background: #736432
  }
  .NTFM{
    //background: #726250;
  }
  .MANUAL{
    background: #bb5535;
  }
  .LOCK{
    background: #835082;
  }
  .AUTO{
    background: #3D8424;
  }
  
  .TOBT_EOBT{  //TOBT报文
    background: #b10fb1;
  }
  .TOBT_SYSTEM{  //TOBT推算
    background: #FFFF00;
  }
  .TOBT_MANUAL_APPLY{  //TOBT申请
    background: #0377c5;
  }

  .TOBT_MANUAL_APPROVE{  //TOBT批复
    background: #057705;
  }

  .TOBT_MANUAL_REFUSE{  //TOBT拒绝
    background: #ad4141;
  }

  .TOBT_IMPROVE{  //TOBT调整
    background: #CC9900;
  }
}

//时间类 --协调表单
.time_form{
  .comment_width{
    width: 64px;
  }
}
/*
*  ===========================================
*   start---优先级底色
*  ==============================================
*/
.priority_48{
  //background: rgba(139, 68, 88, 0.76);
}
.in_pool{
  //background: rgb(255, 102, 0);
}
/*
  *  ===========================================
  *   end----优先级
  *  ==============================================
  */
//.alarm_200{
//  color: rebeccapurple;
//}


