.ant-table-wrapper{
    height: 100px;
}
.ant-table-container{
    @include display_flex(column);
    .ant-table-body{
        @include flex();
    }
}
.ant-table.ant-table-small {
    font-size: 18px;
}
.flight_canvas{
    position: relative;
    .total_num{
        position: absolute;
        right: 12px;
        top: 3px;
        font-size: 1rem;
    }
}
.notshow{
    display: none;
}
.ant-table-tbody > tr.ant-table-row:hover > td.ant-table-cell {
    background: rgba(89, 89, 89, 0.78);
}
.ant-table-cell.FFIX{
    //background: #0e4980;
}
.ant-table-cell.FFIXT{
    background: #404040;
}
.in_range{
    background: #475461;
    .ant-table-cell-fix-left, .ant-table-cell-fix-right{
        background: #475461;
    }
    .ant-table-cell.FFIXT{
        background: #424548;
    }
}
//过点时间间隔样式
.interval{
    position: relative;
    left: -6px;
    >span{
        padding: 0 5px;
    }
}
.interval_green{
    background: rgba(49, 128, 68, 0.6);
}
.interval_red{
    background: rgba(142, 0, 0, 0.6);
}
//单元格为空，样式占位
.empty_cell{
    height: 30px;
}