.ant-table-wrapper{
    height: 100px;
}
.ant-table-container{
    @include display_flex(column);
    .ant-table-body{
        @include flex();
    }
}
.flight_canvas{
    position: relative;
    .total_num{
        position: absolute;
        right: 12px;
        top: 3px;
        font-size: 1rem;
    }
}
.odd-row > .ant-table-cell {
    //background: #262626;
}
.ant-table-tbody > tr.ant-table-row:hover > td.ant-table-cell {
    background: rgba(89, 89, 89, 0.78);
}
.ant-table-cell.FFIX{
    //background: #0e4980;
}
.ant-table-cell.FFIXT{
    background: #404040;
}
.in_range{
    background: rgba(72,163,247,35%);
    .ant-table-cell-fix-left, .ant-table-cell-fix-right{
        background: rgba(72,163,247,35%);
    }
    .ant-table-cell.FFIXT{
        background: rgba(72,163,247,50%);
    }
}
