.ant-table-wrapper{
    min-height: 100px;
    max-height: 800px;
}
.ant-table-container{
    @include display_flex(column);
    .ant-table-body{
        @include flex();
    }
}
.ant-table.ant-table-small {
    font-size: 1rem;
}
.flight_canvas{
    position: relative;
    .statistics{
        position: absolute;
        right: 12px;
        top: 3px;
        font-size: 1rem;
        align-items: center;
        @include display_flex();
        @include flex();
        .total_num{
            position: relative;
        }
    }
    .auto_scroll{
        display: inline-block;
        margin-right: 0.3rem;
    }
}
.notshow{
    display: none;
}
.ant-table-tbody > tr.ant-table-row:hover > td.ant-table-cell {
    //background: rgba(89, 89, 89, 0.78);
}
.ant-table-cell{
    background: #313131;
}
.ant-table-cell.FFIX{
    //background: #0e4980;
}
.ant-table-cell.FFIXT{
    //background: #404040;
}
.in_range{
    .ant-table-cell{
        background: #303942;
    }

    .ant-table-cell-fix-left, .ant-table-cell-fix-right{
        background: #303942;
    }
    .ant-table-cell.FFIXT{
        //background: #424548;
        background: #303942;
    }
}
//过点时间间隔样式
.interval{
    //position: relative;
    //left: -6px;
    >span{
        padding: 0;
    }
}
.interval_green{
    //background: rgba(54, 159, 135,0.4);
    //color: #3AE1B0;
}
.interval{
    margin: 0.5rem 0;
}
.interval_red{
    background: #2b2bf5;
    //color: #fde900;
}

//表格 单元格 padding
.ant-table.ant-table-small .ant-table-title,
.ant-table.ant-table-small .ant-table-footer,
.ant-table.ant-table-small .ant-table-thead > tr > th,
.ant-table.ant-table-small .ant-table-tbody > tr > td,
.ant-table.ant-table-small tfoot > tr > th,
.ant-table.ant-table-small tfoot > tr > td {
    padding: 0.35rem 0.5rem;
}
.alarm-tag.ant-tag {
    padding: 0 4px;
    margin-right: 4px;
    cursor: pointer;
}