
.felxDev{
    // position: fixed;
    z-index: 999;
    // width: 10rem;
    // height: 90vh;
    overflow: hidden;
    .virtual-grid{
        overflow-y: hidden !important;
        overflow-x: hidden !important;
    }

    // .virtual-grid::-webkit-scrollbar{
    //   width: 0px;
    //   height: 0px;
    // }
}
