
.work_layout{
  width: 1060px;
  height: 600px!important;
}
.work_detail_layout{
  width: 1060px;
  height: 540px!important;
}
.work_detail_layout{
  margin: 0 auto;
}
//工作流--导航样式
.work_menu{
  background: rgba(64, 64, 64, 0.8);
  margin: 0.5rem 1rem 0.2rem;
  border: 1px solid #5d5d5d;
  line-height: 3rem;

}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected{
  color: #73bfe2;
  border-bottom: 2px solid #7db2cc;
}

.work_search{
  margin: 0.5rem auto;
  text-align: center;

}
.date_time{
  display: inline-block;
  position: absolute;
  bottom: 15px;
  left: 5px;
  font-size: 15px;
}
.opt_btns{
  a{
    padding: 0 5px;
    color: #73bfe2;
    &:hover{
      cursor: pointer;
      color: #0079c7;
    }
  }
}

.nav_header{
  margin: 0.5rem 1rem;
}
.steps_cell {
  text-align: left;
  padding-left: 5px;
}
